/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */



/* header */
#header{
    width:95%;
    height:30px;
    margin:20px;
}

#header ul {float:right;}

/* middle */
.content {
    margin:auto;
    position:relative;
    top:100px;
}

#form_div {height:100px;}

.button{
    width:130px;
    padding:9px;
    margin:10px;
    height:35px;
    background-color:#f4f0f0;
    border-radius:3px;   
}

img {width:300px;}

input{
    width:600px;
    height:25px;
}

/* footer */

#footer{
    width:100%;
    height:40px;
    background-color:#ede9e9;
    position:fixed;
    bottom:0;
}



li {
    display:inline;
    padding:8px;
}

#special {
    background-color:#3485f4;
    color:white;
    padding:7px;
    border-radius:3px;
}

.left {float:left;}


.right {float:right;}


.left, .right {padding:10px;}
#footer li {padding: 10px 20px;}
span {color:red;}



/* whole document */
a { text-decoration:none;
    color:inherit;
}

a:hover {text-decoration:underline;}

